.noti-container {
    text-align: center;
    color: #201934;
}
    .noti-container .noti-title {
        font-weight: 700;
        font-size: 18px;
        color: #11954A;
        text-transform: uppercase;
        margin-top: 20px;
    }
    .noti-container .noti-text {
        font-weight: 500;
        font-size: 16px;
        margin-top: 16px;
    }
    .noti-container .noti-subtext {
        opacity: 0.6;
        font-size: 16px;
        font-weight: normal;
    }
    .noti-container .back-button {
        width: 454px;
        height: 56px;
        margin-top: 26px;
        background-color: #3626EB;
        color: #FFFFFF;
        font-size: 18px;
        font-weight: 700;
    }