.App {
  text-align: center;
}

#root{
  width: 100%;
  min-height: 100%;
  background-image: url('/src/assets/auth-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}