.back-space{
    color: #8A4DC0;
}

.bg-gray{
    background-color: #EEF1F1;
}

.file-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.list-group{
    width: 100% !important;
}
