.empty-file-list-container {
    margin-top: 80px;
}

    .empty-file-list-container .empty-file-list-image {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .empty-file-list-container .empty-file-list-text {
        text-align: center;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        color: #201934;
    }

    #img-caption {
        margin-top: 20px;
        opacity: 70%;
    }

    #upload_btn {
        width: 308px;
        height: 56px;
        background: #F3F6FF;
        font-size: 18px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #3626EB;
        box-sizing: border-box;
        border-radius: 6px;
        color: #3626EB;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 565px;
    }