* {
  padding: 0;
  box-sizing: border-box;
}
.list-info {
  padding: 1rem 4rem;
  background-color: white;
  border-radius: 1rem;
}

.info-detail {
  display: flex;
}

.info-detail h4 {
  font-size: 1.3rem;
}

.info-detail label {
  font-size: 1.1rem;
  margin-left: 3rem;
}

.list-info button {
  display: block;
  width: 4rem;
  height: 1.7rem;
  font-size: 1rem;
  line-height: 1rem;
  margin: 10px auto;
  background: #222;
  color: white;
  border-color: transparent;
  letter-spacing: 0.1rem;
  padding: 0.15rem 0.25rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  cursor: pointer;
}
