.back-space{
    color: #8A4DC0;
}

.primary-button{
    background-color: blue;
    color: white;
    border-radius: 5px;
}

.bg-cl{
    background: #F3F6FF
}

    .list-group.bg-cl {
        background: none;
    } 

#bestsign_01{
    width: 100%;
    height: 53px;
    left: 85px;
    top: 20px;

    font-family: Be Vietnam;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color:#3626EB;
}

#upload_01{
    width: 100%;
    height: 56px;
    margin-top: 30px;
    margin-right: 20px;
    background: #3626EB;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#bt_01{
    margin-top: 10px;
    height:38px;
}
#Head{
    height: 60px;
    background: #F3F6FF;
}
.avatar {
    height: 50px;
    border-radius: 100%;
    position:absolute;
  }
  .pdf_prototype{
    width: 50px;
    height: 25px;
  }
  
  table .react-pdf__Page__canvas{
    width: 100px !important;
    height: auto !important;

  }

  .custom-btn{
      color: #3626EB;
  }

#formcustom{
    margin-top: 10px;
}
#listcontractcustom{
    width: 100%;
    height: 22px;
    left: 20px;
    top: 189px;
    margin-top: 30px;
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #201934;
    opacity: 0.7;
}


#account_custom{
    width: 100%;
    height: 22px;
    left: 20px;
    top: 189px;
    margin-top: 30px;
    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #201934;
    opacity: 0.7;
}

#ctr_1{
    width: 100%;
    height: 35px;
    left: 314px;
    top: 100px;

    font-family: Be Vietnam;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    color: #201934;

    opacity: 0.9;

    margin-bottom: 16px;
}


.cus_button {
    margin-right: 10px;
    width: fit-content;
    background: #F3F6FF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.cus_button:hover {
    background: #4A3CED;
    color: #FFFFFF;
    font-weight: 700;
}

.mg{
    margin-bottom: 10px;
}
.dash_height{
    height: 1536px;
}
.but_td{
    margin-right: 45px;
    height: 10px;
    width: 15px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height:50px;
    border-radius: 50% !important;
    right: 50px;
    margin-top: 4px;
  }

  .HelloText{
    position: absolute;
    width: 120px;
    height: 44px;
    right: 110px;
    top: 10px;

    font-family: Be Vietnam;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;

    color: #201934;
}

.ddown-custom{
    right:500px !important;
}
.signed{
    color: #11954A;
    font-weight:800;
    font-size: 16px;
}
.waiting{
    color: #DD7518;
    font-weight: 800;
    font-size: 16px;
}
.fail{
    font-weight: 800;
    font-size: 16px;
    color:  #DF0909;
}
.marg{
    margin-right: 5px;
}

.contract-list {
    background: white;
    height: fit-content;
    width: 100%;
    padding-top: 20px;
    padding-left: 26px;
}

.custom-button {
    background: #4A3CED;
}